font-env/
font-images/
font-images2/
font-images/
font-images-test/
font_dataset_test/
compressed-images/
font-images-compressed/
font-images.zip
font-images 2.zip
font-images*/
font-images*.zip
*.pkl
*.pkl.gz
*.npz
*.npy
*.pt
*wandb*
font_dataset_npz*/
*__pycache__/
*.pyc
*.log
*env/
*.env*
weights/
debug/
test-data/
*.h5
fonts/
backgrounds/
debug_output/
data/
assets/
uploads/
test-images/
trdg-font-images/
compare_models.html
trdg-font-images/
