<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Font Similarity Search</title>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4738372125059178"
         crossorigin="anonymous"></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-RBRZYSBJ01"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-RBRZYSBJ01');
    </script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}?v={{ css_version }}">
</head>
<body>
    <div class="container">
        <h1>Font Similarity Search</h1>
        
        <div class="upload-container" id="dropArea">
            <div class="file-input-wrapper">
                <input type="file" id="fileInput" name="image" class="file-input" accept="image/*">
                <label for="fileInput" class="custom-file-button">Choose File</label>
            </div>
            <span class="upload-label">Upload Font Image to Analyze</span>
            <span class="upload-instructions">or drag and drop an image</span>
            
            <!-- Reset button will be shown after upload -->
            <div id="resetButtonContainer" class="hidden">
                <button id="resetBtn" class="reset-button">Clear</button>
            </div>
        </div>
        <div class="research-mode-toggle">
            <input type="checkbox" id="researchModeToggle" class="toggle-checkbox">
            <label for="researchModeToggle" class="toggle-label">Research Mode</label>
        </div>

        
        <div id="preview"></div>
        
        <div id="loading" class="loading-indicator hidden">
            <div class="spinner"></div>
            <p>Analyzing font...</p>
        </div>
        
        <div class="results-section hidden" id="resultsContainer">
            <div class="results-column">
                <h2>Similar Fonts</h2>
                <div id="embeddingResults"></div>
            </div>
            
            <div class="results-column">
                <h2>Classifier Predictions</h2>
                <div id="classifierResults"></div>
            </div>
            
        </div>
        
        <!-- Container for character detection visualization -->
        <div id="visualizationContainer" class="visualization-container hidden">
            <h2>Character Detection Visualization</h2>
            <div id="visualizationImage"></div>
        </div>

    </div>

    <!-- External JavaScript file -->
    <script src="{{ url_for('static', filename='app.js') }}?v={{ css_version }}"></script>

</body>
</html>